@import "tailwindcss";

:root {
  --song-h: 82px;
  --song-w: 64px;
  --song-h-child: 70px;
  --song-w-child: 54px;
}

@media (max-width: 640px) {
  :root {
    --song-h: 72px;
    --song-w: 56px;
    --song-h-child: 62px;
    --song-w-child: 48px;
  }
}

@theme {
  --song-h: var(--song-h);
  --song-w: var(--song-w);
  --song-h-child: var(--song-h-child);
  --song-w-child: var(--song-w-child);
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 3px;
  }
  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background: #27272a;
    border-radius: 10px;
  }
  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #3f3f46;
  }
}

html, body {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar, body::-webkit-scrollbar {
  display: none;
}